html {
  background-color: #fff;
  font-family: 'Atkinson Hyperlegible Next', sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

a { text-decoration: none; color: #344e41; }
a:hover { text-decoration: underline; }

