---
import Layout from '../layouts/Layout.astro';
---

<Layout title="home">
  <p>
    Hey, I'm Alan. I use GPUs profitably at HRT AI Labs.
  </p>
  <p>
    Previously, I studied CS@Caltech and cofounded <a href="https://www.generalanalysis.com/">General Analysis</a>. I also did some LLM/RL/optimization research with <a href="https://hazyresearch.stanford.edu/">Hazy Research</a> and <a href="https://adamwierman.com/">Adam Wierman</a>'s Lab. In college, I also did some programming and datasci contests. Check them out in <a href="/projects/">/projects</a>.
  </p>
  <p>
    Outside of work, I play guitar and various racket sports.
  </p>
  <p>
    You can contact me on <a href="https://x.com/ala_wue">X</a>.
  </p>
</Layout>
