---
import Layout from '../layouts/Layout.astro';
---

<Layout title="projects">
  <p>
    These are my projects roughly in reverse chrono order.
  </p>
  <ul>
    <li>As Caltech D, 3rd place Institute @ SoCal ICPC. Made NAC</li>
    <li>Worked with Hazy Research on <a href="https://hazyresearch.stanford.edu/blog/2024-10-14-lolcats-p1">LoLCATs</a></li>
    <li>QR Internship at Jump Trading</li>
    <li>1st @ IMC Prosperity 2, won $25000 tropical vacation</li>
    <li>4th @ <a href="https://climatehack.ai/">ClimateHack.AI</a></li>
    <li>1st Data Science @ <a href="https://traders.studentorg.berkeley.edu/competition.html">Berkeley Trading Competition 2024</a></li>
    <li>QT Internship at Jane Street</li>
    <li>1st @ Citadel Data Open Championship, won $100000</li>
    <li>2nd @ Terminal Global Championship, won $10000</li>
    <li>Build an NFT collateralized p2p lending platform @ Chainlink Hackathon, won $750</li>
    <li><a href="https://www.insticc.org/node/TechnicalProgram/icaart/2024/presentationDetails/123706">From Targets to Rewards: Continuous Target Sets in the Algorithmic Search Framework</a> ICAART 2024 Oral</li>
    <li>1st @ Citadel Data Open West Coast, won $10000</li>
    <li><a href="https://ieeexplore.ieee.org/document/9342077">DenseFuseNet: Improve 3D Semantic Segmentation in the Context of Autonomous Driving with Dense Correspondence</a>, 3rd @ S.T. Yau Science Award</li>
  </ul>
</Layout>
